* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.flex-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* width: 20em; */
    max-width: 17em;
    background-color: hsl(216, 50%, 16%);
    /* height: 300px; */
    justify-content: center; /*remember to change this */
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 12px;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

/* img {
    display: block;
    max-width: 3em;
    border: 2px solid red;
    border-radius: 1em; 

}*/

.box-1 {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    max-width: 90%;

}

.box-2 {
    display: flex;
    /* border: 1px solid red; */
    max-width: 90%;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.box-3 {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    width: 100%; 
    max-width: 90%;
    justify-content: space-between;
}

.box-3-1 {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    /* margin-right: 39px; */
}

.box-3-2 {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    /* margin-left: 39px; */
}

.linee {

    width: 90%;
    border: 0.1px solid hsl(215, 51%, 70%);
    background-color: hsl(215, 51%, 70%);
    opacity: 0.3; 
    /* margin: 1em 0; */
}

.box-4 {
    display: flex;
    /* border: 1px solid red; */
    /* flex-direction: row; */
    max-width: 90%;
    flex-wrap: wrap;
    /* padding-top: 5px; */
}

.box-4-1 {
    display: flex;
    /* border: 1px solid red; */
    max-width: 22%;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* padding-left: 7px; */
    opacity: 0.8;
}

.box-4-2 {
    display: flex; 
    /* border: 1px solid red;  */
    max-width: 66%;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    padding-top: 2px;
    align-items: center;
    /* text-align: center; */
}